0 ICON "icon.ico"

1 VERSIONINFO
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "ProductName",        "BSOD"
            VALUE "FileDescription",    "Blue Screen Of Death"
            VALUE "LegalCopyright",     "Copyright 2022 shota"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0, 0
    END
END